{% extends 'base.html' %}
{% block content %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus ad illo ipsam, iure, laudantium molestias nemo nulla obcaecati rerum temporibus unde velit vero? At incidunt iure non quo voluptatibus?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae, cupiditate debitis eligendi enim eum eveniet ipsam, minus molestiae nulla quos rerum vitae voluptatibus! Cumque et facilis iste itaque optio?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid consequuntur cumque eius error eum explicabo harum, hic in maxime nostrum numquam obcaecati praesentium quia quibusdam ratione repudiandae tempore voluptates?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at cupiditate nihil obcaecati saepe soluta suscipit! Alias architecto, asperiores incidunt iusto laudantium odio omnis quibusdam reiciendis rem sit tenetur voluptatum.
    </div>
{% endblock %}