{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    {% if submitted %}
        <p class="success">
         Twój post został dodany. Gratulacje.
       </p>
    {% else %}
        {% with url_name = request.resolver_match.url_name  %}
        {% if url_name == 'new' %}
                <h2>Nowy post</h2>
            <form method="POST"  class="post-form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
            {% elif url_name == 'edit_post' %}
            <h2>Edytuj post</h2>
        <form method="POST"  class="post-form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="save btn btn-default">Edit</button>
        </form>
        {% endif %}
        {% endwith %}
    {% endif %}
{% endblock %}